.main-panel-content
{
    margin: auto;
    width: 40%;
    min-width: 400px;

}
.monthly-metrics-section
{
    margin: auto;
    width: 100%;
}
.chart-container
{
    padding-top: 25px;
    margin: auto;
    width: 80%;
}
.video-chart-container
{
    padding-top: 25px;
    margin: auto;
    width: 60%;
}
.streamstable-container
{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 60%;
    min-width: 500px;
}
.metrics-card
{
    text-align: center;
    flex-grow: 1;
    width: 33%;
    margin-top: 20px;
}
.topline-container
{
    display: flex;
}
.metrics-title
{
    font-size: 15px;
}
.metrics-metric
{
    font-size: 25px;
    font-weight: 600;
}
.channel-container
{
    width: 50%;
}

hr{
    border-top: 2px solid white;
}

ul
{
    list-style: none;
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

ul li {
    display: flexbox;
    color: "green"
}
a {
    text-decoration: none !important;
}

.table-thumbnail
{
    width: 150px;
    height: 84px;
}
.about-heading
{
    font-size: 24px;
    font-weight: 500;
}
.about-heading-small
{
    font-size: 20px;
    font-weight: 500;
}
.about-spacer
{
    height: 20px;
}
.about-spacer-small
{
    height: 10px;
}